.results{
    margin-left: 5rem;
    margin-top: 1rem;
    padding: 1rem;
    border-left: 1px solid black;
}
.results div{
    display: flex;
}
.results div h1{
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.results div p{
    font-size: 1.5rem;
}
.results_buttons{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}